@model HomeViewModel

<div class="card-deck">
    <div class="card shadow">
        <div class="card-body">
            <h2> Top Paintings of the Week!</h2>
            <h4>Our Weekly selection of Art - Curated jus for you!</h4>

            <div class="row">

                @foreach (var art in Model.PaintingsOfTheWeek)
                {
                   <partial name="_PaintingCard" model="art" /> 
                }

            </div>

        </div>


    </div>
         
</div>


