<div class="col-md-6">
    <div class="container">
        <h2>Get in Touch!</h2>
        <ul>
            <li>
                <i class="fa fa-home" aria-hidden="true"></i>
                Ekam Art Studios,
                Bangalore,
                KA - 560078
            </li>
            <li>Get in touch with us <a>+91 90 354567</a> </li>
            <li><a href="mailto://ezhil@gmail.com">ezhil@gmail.com</a></li>
            <email address="ezhil@gmail.com" content="Mail us"></email>
           
        </ul>
    </div>
</div>